In [1]:
import pandas as pd

In [50]:
VIZUGY_WEBPAGE = 'https://www.vizugy.hu/'

In [51]:
df = pd.read_html(f'{VIZUGY_WEBPAGE}?mapData=VizmerceLista#mapData', extract_links="body")
df = df[0]

In [52]:
for col in df.columns:
    df[[f'{col}_val', f'{col}_url']] = pd.DataFrame(df[col].to_list(), index=df.index)
    df.drop(col, axis=1, inplace=True)

In [54]:
df.iloc[0]["Vízmérce_url"]

'?mapModule=OpGrafikon&AllomasVOA=16496185-97AB-11D4-BB62-00508BA24287&mapData=OrasIdosor#mapData'

In [68]:
df_list = []

for index, row in df.iterrows():
    df2 = pd.read_html(f'{VIZUGY_WEBPAGE}{df.iloc[index]["Vízmérce_url"]}',parse_dates=True)
    df2[1]["Vízmérce"] = df.iloc[index]["Vízmérce_val"]
    df_list.append(df2[1])

hourly_data = pd.concat(df_list)

In [70]:
hourly_data

               Időpont  Vízállás (cm)  Vízhozam (m3/s)  Vízhő (C°)  Vízmérce
0    2023.07.02. 18:00           47.0              NaN        22.3     Adony
1    2023.07.02. 17:00           48.0              NaN        22.7     Adony
2    2023.07.02. 16:00           48.0              NaN        22.8     Adony
3    2023.07.02. 15:00           48.0              NaN        22.6     Adony
4    2023.07.02. 14:00           49.0              NaN        22.5     Adony
..                 ...            ...              ...         ...       ...
498  2023.06.12. 00:00           49.0            0.266         NaN  Zalalövő
499  2023.06.11. 23:00           50.0            0.290         NaN  Zalalövő
500  2023.06.11. 22:00           51.0            0.322         NaN  Zalalövő
501  2023.06.11. 21:00           51.0            0.322         NaN  Zalalövő
502  2023.06.11. 20:00           51.0            0.322         NaN  Zalalövő

[97634 rows x 5 columns]